[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aea = "*"
pandas = "*"
click = "*"
click-log = "*"
jsonschema = "*"
yaml = "*"
all = "*"

[requires]
python_version = "3.7"
